chromadb
huggingface_hub 
tiktoken
InstructorEmbedding 
sentence_transformers
langchain
unstructured[pdf]
pypdf
openai
langchain-openai
gradio
langchain-community 
llama-parse
google-generativeai
langchain-cohere
sentence-transformers
faiss-cpu 
langchain 
langchain-community 
langchain-openai 
langchainhub 
huggingface_hub
requests
ollama
neo4j
redis
